* {
  font-family: Arial, Helvetica, sans-serif;
}
body::after {
  background-color: rgb(230, 230, 230);
  content: "";
  background: url(./imagens/famous-monuments-world_117023-91.jpg);
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: cover;
  background-attachment: scroll;
}
p{
  font-size: 25px
}
h2 {
  color: goldenrod;
  display: block;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
section img{
  width: 400px;
  height: 300px;
  display: inline;
}
table{
  display: flex;
  justify-content: center;
  align-items: center;
}
table img{
  width: 300px;
  height: 200px;
}
.menuDrop ul {
  list-style-type: none;
  padding: 0;
}

.menuDrop ul {
  background-color:rgb(0, 0, 0);
}

.menuDrop ul li {
  display: inline;
  position: relative;
}

.menuDrop ul li a {
  color:rgba(251, 255, 0, 0.726);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background 1s;
}

.menuDrop ul li a:hover {
  background-color: rgb(156, 156, 156);
}

/*sub menu*/
.menuDrop ul ul {
  display: none;
  left: 0;
  position: absolute;
}

.menuDrop ul li:hover ul {
  display: block;
}

.menuDrop ul ul {
  width: 150px
}

.menuDrop ul ul li a {
  display: block;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
footer img{
  width: 25%;
}
.logo{
  width: 75px;
  height: 35px;
}